@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: rgb(255, 189, 213);
  box-sizing: border-box;
  max-width: 100%;
  display: initial;
  text-align: center;
  color: rgb(93, 8, 108);
  padding-left: 10px;
}
body .skip-to-content-link {
  left: 40%;
  position: absolute;
  transform: translateY(-100%);
}
body :focus {
  outline: none;
}

svg {
  background-color: var(--main-bg-color);
  height: 1em;
}

h1 {
  margin-left: auto;
  font-size: 10em;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  padding: 10px;
  width: 5px;
  text-align: center;
}
h1 :focus {
  outline: none;
}
h1 :hover {
  transform: translate;
  box-shadow: 10px 10px 20px;
}

h2 {
  margin-left: auto;
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
  padding: 15px;
  width: 20rem;
}
h2 :hover {
  transform: translate;
  box-shadow: 10px 10px 20px;
}

h3 {
  font-size: 5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  width: 20rem;
}
h3 :hover {
  transform: translate;
  box-shadow: 10px 10px 20px;
}

p {
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 1px;
  padding: 5px;
  text-align: center;
}
p :hover {
  transform: translate;
  box-shadow: 10px 10px 20px;
}

ul {
  font-size: 60px;
  font-family: sans-serif;
  margin: 5px;
  padding: 15px;
  width: 20rem;
}
ul :hover {
  transform: translate;
  box-shadow: 10px 10px 20px;
}

li {
  font-size: 50px;
  font-family: poppins;
  margin: 15px;
  padding: 15px;
  width: 20rem;
}
li :hover {
  transform: translate;
  box-shadow: 10px 10px 20px;
}

a {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 10px;
  padding: 15px;
  width: 20rem;
}
a :hover {
  transform: translate;
  box-shadow: 10px 10px 20px;
}

footer {
  font-size: 35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 10px;
  padding: 15px;
}
footer :hover {
  transform: translate;
  box-shadow: 10px 10px 20px;
}

h4 {
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
  width: 20rem;
}
h4 :hover {
  transform: translate;
  box-shadow: 10px 10px 20px;
}
